<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"> -->
<!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<!-- <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->

<div class="tabbable span4">
  <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#browse" data-toggle="tab" id="browse_tab"><b>Browse</b></a></li>
          <li><a href="#hist" data-toggle="tab" id="history_tab"><b>History</b></a></li>
          <li><a href="#wish" data-toggle="tab" id="wish_tab"><b>Wishlist</b></a></li>

      </ul>
      <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="browse">

            <form class="brewery-search">
              <p><b>You can find a brewery by name...</b></p>
              <input type="text" class="input-medium search-query" id='brewery'>
              <button type="submit" class="btn">Search</button>
            </form>
            <ul id='breweries'></ul>

            <p><b> Or you can browse the beers... </b></p>
            <form class='category-search' style='margin: 0px'>
              <p style='margin: 0px'>Step 1. Choose a category</p>
              <select id='category-select' name='category-type' style='height: 20px'></select>
              <!-- <button type='submit' class='btn'>Search</button> -->
            </form>

            <form hidden id='style-search' class='style-search' style='margin: 0px'>
              <p style='margin: 0px'>Step 2. Choose a style</p>
              <select style='height: 20px' id='style-select' name='style-type'></select>
              <!-- <button type='submit' class='btn'>Search</button> -->
            </form>

            <form hidden id='abv-search' class='abv-search' style='margin: 0px'>
              <p style='margin: 0px'>Step 3. Choose alcohol percentage</p>
              <select id='abv-select' name='abv-type' style='height: 20px'>
                <option value='-5'>Less than 5%</option>
                <option value='4.9,6'>5%</option>
                <option value='5.9,7'>6%</option>
                <option value='6.9,8'>7%</option>
                <option value='+8.9'>more than 9%</option>
              </select>
              <!-- <button type='submit' class='btn'>Search</button> -->
            </form>

            <form hidden id='beer-search' class='beer-search' style='margin: 0px'>
              <p style='margin: 0px'>Step 4. Choose a beer</p>
              <select id='beer-select' name='beer-type' style='height: 20px'></select>
            </form>
            <button hidden id='find-brewery' type='submit'>Find Brewery</button>
            <ul id='breweries-bottom'></ul>

          </div>

          <div class="tab-pane" id="hist">
              <p>I've been here!</p>
              <ul id='history-list'></ul>
          </div>

          <div class="tab-pane" id="wish">
              <p>We still have to check these places out!</p>
              <ul id='wish-list'></ul>
          </div>
      </div>
  </div> <!-- content -->
</div> <!-- tabbable -->


<div id="map-canvas" class="span7"></div>


<script id="brewery-template" type="text/x-handlebars-template">
  <style type='text/css'>
    li {list-style-type:none;}
    a:hover {background-color:lightblue}
    li:hover {background-color:lightblue; border-radius:7px; text-decoration:none; padding-left:4px}
  </style>
  <li>
    <b><a href='/brewery/{{ids}}' style='text-decoration:none; color:black'>{{brewery}}</a></b>
  </li>
</script>

<script id="li-template" type="text/x-handlebars-template">
  <li><b>{{brewery}}</b></li>
  <button id="history-button" onClick="historyClick()">Add to History</button>
  <button id="wish-button" onClick="wishClick()">Add to Wishlist</button>
</script>

<script id="li-template-bottom" type="text/x-handlebars-template">
  <li><b>{{brewery}}</b></li>
  <button id="history-button" onClick="historyClickBottom()">Add to History</button>
  <button id="wish-button" onClick="wishClickBottom()">Add to Wishlist</button>
</script>

<script>
function initialize() {
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(20, 0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
      'callback=initialize';
  document.body.appendChild(script);
}

function listenMarker(marker, infowindow){
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map, marker);
  });
}

var breweryId = '';
var markers = [];
// *******  wire up tabs  ***********

// history tab will clear map and only put pins of where user has been
$('#history_tab').on('click', function(){
  $('#history-list').empty();
  initialize();
  var template = Handlebars.compile( $('#brewery-template').html() );
  $.get('/histories/user/<%= current_user.id %>', function(data){
      for(var i = 0; i<data.length; i++){
        $.get('brewery_by_id', {ids: data[i].brewery_id, withLocations: 'Y'}, function(data){
          var temp = {brewery: data[0].name, ids: data[0].id};
          $('#history-list').append(template(temp));
          var coordinates = new google.maps.LatLng(data[0].locations[0].latitude, data[0].locations[0].longitude);
          var infowindow = new google.maps.InfoWindow({content: data[0].name+'<br>'+data[0].locations[0].street_address+'<br>'+data[0].locations[0].phone+'<br>'+data[0].locations[0].website });
          var marker = new google.maps.Marker({position: coordinates, map: map});
          listenMarker(marker, infowindow)
          marker.setMap(map);
          map.setZoom(2);
          map.setCenter(coordinates);
        });
      }
  });
});

// wish tab will clear map and only put pins of where user wants to go
$('#wish_tab').on('click', function(){
  $('#wish-list').empty();
  initialize();
  var template = Handlebars.compile( $('#brewery-template').html() );
  $.get('/favorites/user/<%= current_user.id %>', function(data){
      //list each brewery in a ul
      for(var i = 0; i<data.length; i++){
        $.get('brewery_by_id', {ids: data[i].brewery_id, withLocations: 'Y'}, function(data){
          var temp = {brewery: data[0].name, ids: data[0].id};
          $('#wish-list').append(template(temp));
          var coordinates = new google.maps.LatLng(data[0].locations[0].latitude, data[0].locations[0].longitude);
          var infowindow = new google.maps.InfoWindow({content: data[0].name+'<br>'+data[0].locations[0].street_address+'<br>'+data[0].locations[0].phone+'<br>'+data[0].locations[0].website });
          var marker = new google.maps.Marker({position: coordinates, map: map});
          listenMarker(marker, infowindow)
          marker.setMap(map);
          map.setZoom(2);
          map.setCenter(coordinates);
        });
      }
  });
});

$('#browse_tab').on('click', function(){
  initialize();
});

//load categories into dropdown
$('#category-select').on('click', function(e){
  e.preventDefault(e);
  $.get('/categories', function(data){
    for(var i=0; i<data.length; i++){
      $('#category-select').append($('<option>', {
        value: data[i].name,
        text: data[i].name
      }));
    }
    $('#style-search').show();
  });

});


// load styles into dropdown
$('#style-select').on('click', function(e){
  var category = $('#category-select :selected').text();
  e.preventDefault(e);
  $.get('/styles', function(data){
    for(var i=0; i<data.length; i++){
      if(data[i].category.name == category){
        $('#style-select').append($('<option>', {
          value: data[i].id,
          text: data[i].name
        }));
      }
    }
    $('#abv-search').show();
    $('#beer-search').show();
  });
});


// load beers into dropdown
$('#beer-select').on('click', function(e){
  e.preventDefault(e);
  $('#find-brewery').hide();
  $('#breweries-bottom').empty();
  var style = $('#style-select :selected').val();
  var abv = $('#abv-select :selected').val();
  $.get('/beers', {styleId: style, abv: abv}, function(data){
    for(var i=0; i<data.length; i++){
      $('#beer-select').append($('<option>', {
        value: data[i].breweries[0].name,
        text: data[i].name
      }));
      // console.log(data[i].breweries[0].name);
    }
    $('#find-brewery').show();
  });
});

// get beer descriptions

$( "#opener" ).click(function() {
  $( "#dialog" ).dialog({ autoOpen: false });
  $( "#dialog" ).dialog( "open" );
});

// ******* End Wire Up Tabs ************

// On submit. find brewery, display it as list item get its coordinates, map pin
$('.brewery-search').on('submit', function(e){
  e.preventDefault();
  var brewery = document.getElementById('brewery').value;
  var template = Handlebars.compile( $('#li-template').html() );

  $.get('/search_by_id', {name: brewery, withLocations: 'Y'}, function(data){
    var temp = { brewery: data[0].name}
    $('#breweries').append(template(temp));
    breweryId = data[0].id;
    var coordinates = new google.maps.LatLng(data[0].locations[0].latitude, data[0].locations[0].longitude);
    var infowindow = new google.maps.InfoWindow({content: data[0].name+'<br>'+data[0].locations[0].street_address+'<br>'+data[0].locations[0].phone+'<br>'+data[0].locations[0].website });
    var marker = new google.maps.Marker({position: coordinates, map: map});
    listenMarker(marker, infowindow)
    marker.setMap(map);
    map.setZoom(8);
    map.setCenter(coordinates);
  }, 'json');

});// ----> end submit handler


// On Submit for Beer Search
$('#find-brewery').on('click', function(e){
  e.preventDefault();
  var brewery = $('#beer-select :selected').val();
  var template = Handlebars.compile( $('#li-template-bottom').html() );

  $.get('/search_by_id', {name: brewery, withLocations: 'Y'}, function(data){
    var temp = { brewery: data[0].name}
    $('#breweries-bottom').append(template(temp));
    breweryId = data[0].id;
    var coordinates = new google.maps.LatLng(data[0].locations[0].latitude, data[0].locations[0].longitude);
    var infowindow = new google.maps.InfoWindow({content: data[0].name+'<br>'+data[0].locations[0].street_address+'<br>'+data[0].locations[0].phone+'<br>'+data[0].locations[0].website });
    var marker = new google.maps.Marker({position: coordinates, map: map});
    listenMarker(marker, infowindow)
    marker.setMap(map);
    map.setZoom(8);
    map.setCenter(coordinates);
  }, 'json');

});
// ----> end submit for category search handler



// Wishlist handler
function wishClick(){
  // $.post( url [, data ] [, success(data, textStatus, jqXHR) ] [, dataType ] )
  $.post('/favorites', {brewery_id: breweryId, user_id: <%= current_user.id %>}, function(data){
    // $('#breweries').detach();
  }, 'json');
  $('#breweries').empty();
}

function wishClickBottom(){
  // $.post( url [, data ] [, success(data, textStatus, jqXHR) ] [, dataType ] )
  $.post('/favorites', {brewery_id: breweryId, user_id: <%= current_user.id %>}, function(data){
  }, 'json');
  $('#breweries-bottom').empty();
}
// -----> end Wishlist handler


// History handler
function historyClick(){
  // $.post( url [, data ] [, success(data, textStatus, jqXHR) ] [, dataType ] )
  $.post('/histories', {brewery_id: breweryId, userID: <%= current_user.id %>}, function(data){
    console.log(data);
    // $('#breweries').detach();
  }, 'json');
  $('#breweries').empty();
}

function historyClickBottom(){
  // $.post( url [, data ] [, success(data, textStatus, jqXHR) ] [, dataType ] )
  $.post('/histories', {brewery_id: breweryId, userID: <%= current_user.id %>}, function(data){
  }, 'json');
  $('#breweries-bottom').empty();
}
// -----> end History handler



$(document).ready(function() {
  loadScript();
  $('#tabs').tab();
});

</script>


















