<p id="notice"><%= notice %></p>

<p>
  <strong>Brewery:</strong>
  <%= @history.brewery_id %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @history.userID %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
